<?xml version="1.0" encoding="UTF-8"?>
<module id="65578" version="2015051100">
  <modulename>quiz</modulename>
  <sectionid>22055</sectionid>
  <sectionnumber>0</sectionnumber>
  <idnumber>01</idnumber>
  <added>1409953005</added>
  <score>0</score>
  <indent>0</indent>
  <visible>1</visible>
  <visibleold>1</visibleold>
  <groupmode>0</groupmode>
  <groupingid>0</groupingid>
  <completion>0</completion>
  <completiongradeitemnumber>$@NULL@$</completiongradeitemnumber>
  <completionview>0</completionview>
  <completionexpected>0</completionexpected>
  <availability>$@NULL@$</availability>
  <showdescription>0</showdescription>
</module>